body {
     width: 300px;
    padding:30px;
    border-radius:25%;
    background: #222831;
    font-family: Arial, sans-serif; 
    
}

h2{
    text-align: center;
    color:whitesmoke;

}

button {
    display: block;
    width: 200px;   
    margin: 0 auto; 
    padding: 5px;

    background-color: #a59d90;
    color: whitesmoke;
}

#result {
    margin-top: 10px;
    background-color: #a59d90;
    color: whitesmoke;
    
} 
#skills{
    display: block;
    width: 200px;   
    margin: 0 auto; 
    padding: 10px;
    margin-bottom: 15px;
    background-color: #a59d90;
    color: whitesmoke;

}
.button-container {
    display: flex;
    gap: 10px;
}
#closeBtn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #555;
    margin-right:0px;
}

 #closeBtn:hover {
    color: red;
}
#ds{
    width:25px;
    height:25px; 
}
#analysebtn img {
    width: 26px;
    height: 26px;
    object-fit: contain;
    flex-shrink: 0;
}

#analysebtn span {
    display: inline-block;
    
}
#analysebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding:5px;
    margin: 0 auto;

    width: 300px;      /* Adjust as needed */

    background-color: #a59d90;
    color: whitesmoke;

    cursor: pointer;
}
#saveBtn {
    width: 300px;      /* Adjust as needed */
    cursor: pointer;
}
.skills-container{
    display:flex;
    gap:20px;
    margin-top:20px;
    align-items:flex-start;
    
}

.skills-box{
    
    flex:1;
}

.skills-box h3{
    margin:0 0 8px 0;
}

.skills-box div{
    line-height:1.6;
}
#skillsTable{
    width:100%;
    border-collapse:collapse;
}

#skillsTable th{
    text-align:left;
    padding:8px;
    border-bottom:2px solid white;
    white-space: nowrap;
}

#skillsTable td{
    vertical-align:top;
    padding:8px;
}
#skillsTable{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
}

#skillsTable th,
#skillsTable td{
    width:50%;
    padding:8px;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
    overflow-wrap:break-word;
}